body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header-nav {
    background-color: lightgray;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 { /* Restaurant name */
    color: black;
    font-size: 1.5em;
    font-weight: bold;
 /*   text-shadow: 1px 1px 1px #222;*/
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

div #our-menu {
      margin-bottom : 35px;
}
.menu-container {
    background-color: lightgray;
    width: 100%;
    height: 1000px;
    margin-right: 5px;
    margin-bottom: 25px;
    padding : 5px;
}

#nav-list{
    margin-top: 10px;
}

#nav-list a{
    background-color: white;
    text-align: center;
}

#nav-list a:hover {
    background-color: lightblue;
}

#nav-list a:active {
    background-color: lightblue;
}